
<div id="login" class="rounded-corners">

<%= form_tag sessions_path do %>
    <label style="position:absolute; left:10%; top:20px" for="email">Email</label>
    <input style="position:absolute; left:30%; top:15px" id="email"  name="email" type="text" /><br/>
    <label style="position:absolute; left:10%; top:50px" for="password">Password</label>
    <input style="position:absolute; left:30%; top:45px" id="password" name="password" type="password" /><br/>
  	<input style="position:absolute; left:243px; top:75px; background-color:#999; color:#333; border:0px" name="commit" type="submit" value="Log in" />
<% end %>
</div>