<% if @power_zone.errors.any? 
	problems = pluralize(@power_zone.errors.count, 'problems')
	reply = "The Minions found #{problems}:<ul>"
	@power_zone.errors.full_messages.each do |msg|
		reply << "<li>#{msg}</li>"
	end
	reply << "</ul>"
%>	
	$("<div><%= reply.html_safe %></div>").dialog({
      modal: true,
      title: "Oops!",
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
<% else %>
	$("<div>Your power zone profile has been successfully updated.</div>").dialog({
      modal: true,
      title: "Update Successful!",
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
<% end %>