
<% if @pending_activities.count > 0 %>
<h2>Activity Process Queue</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Import Status</th>
      </tr>
<% @pending_activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><progress max="100" value="<%= activity.status %>"></progress></td>
      </tr>
<% end %>
    </table>
    </br>
<% end %>