/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 *= require gmaps4rails
 *= require_directory ./RGraph

 */

body {
 	background-color: #000;
 	color: #fff;
 	font-size: 12px;
    width: 1056px;
    margin: 0 auto 0 auto;
    padding: 0px;
    border-top: 2px;
    background-color: #FFF;
    background-image:url('/background_tiled.jpg');
    background-repeat:repeat;
}

img {
    border: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

header {
    background: #000;
    text-align: justify;
    width:100%;
    height: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 8px solid #666;
}

header:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

#logo {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}


nav, #main_nav {
    display: inline-block;
    font-family: impact;
    font-size: 14px;
    /*vertical-align: baseline; */
}

.field {
    display: block;
}

a {
	color:#3887bb; text-decoration: none
    font-size 1.02em;
}

a:link {
	color:#3887bb; 
}

a:active {
	color:#3887bb; 
}

a:visited {
	color:#3887bb;
}

a:hover { 
	color:#000; 
	background-color: #FFF;
	font-weight: bold;
}

tr:nth-child(even) {
    background-color: #333;
}

table
{
    width:100%;
    border-collapse:collapse;
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
}

table td, table th 
{
font-size:1em;
border:1px solid #999;
padding:3px 7px 2px 7px;
}

table th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
border:1px solid #FFF;

}

tr:hover {
    background-color: #336699;
    color: #FFF;
}

th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background:#333;
    height:5px;
    width: 1050px;
    display: block;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#0f8bff;
    height:16px;
    width:24px;
    display:block;
}

#all_ride_data {

    background: #000;
}

.graph_checkbox {
    width: 90%;
    display: block;
}

.graph_checkbox input {
    display: inline;
    font-size: 24px;
}

#cadence_check { color: #0F8BFF; }
#altitude_check { color: #7FFF00; }
#power_check { color: #FF9900; }
#hr_check { color: #FF5600; }

.chart_tooltips_css {
        color: black ! important;
        background-color: white ! important;
        border: 2px solid black ! important;
        padding: 3px;
    }
.rounded-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

