
    <script src="<%= graph_data_path(@activity) %>.js"></script>
   <!--  <div id="power_numbers"></div> -->
   <div id="slide_value">Fuzz Value: 2</div><div id="xyvalues"></div><br/>
    <input type="range" min="0" max="10" value="1" step="0.05" onchange="drawEverything(this.value)"/>
    <canvas id="all_ride_data" width="1050px" height="450px" style="background:#000;">[No canvas support]</canvas><br/>
    