<script src="//maps.google.com/maps/api/js?v=3.8&amp;sensor=false&amp;client=&amp;key=&amp;libraries=geometry&amp;language=&amp;hl=&amp;region=" type="text/javascript"></script>
<script src="<%= graph_data_path(@activity) %>.js"></script>
<div>

<input id="0" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
<label for="0" class="css-label" style="color:#FF9900" id="power_label">Power</label>

<input id="1" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
<label for="1" class="css-label" style="color:#ff5600" id="hr_label">Heart Rate</label>

<input id="2" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
<label for="2" class="css-label" style="color:#0f8bff" id="cadence_label">Cadence</label>

<input id="3" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
<label for="3" class="css-label" style="color:#7fff00" id="alt_label">Altitude</label>

<input id="4" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
<label for="4" class="css-label" style="color:#bc65f7" id="speed_label">Speed</label>

<!--
<select name="graph_dataset" id="graph_dataset_option" onchange="selectTimeDistance()" style="float: right">
	<option value="time" selected>Time (h:m:s)</option>
	<option value="distance">Distance (mi)</option>
</select>

//-->

<select name="lap_dataset" id="lap_dataset_option" onchange="handleLaps()" style="float: right">
		<option value="all" selected><%= "All Laps" %></option>
	<% @activity.laps.each_with_index do |lap, lap_number| %>
		<option value="<%= lap_number %>"><%= "Lap #{lap_number} (#{lap.start_time})" %></option>
	<% end %>
</select>

<input id="graph_scale_slider" style="visibility:hidden" type="range" min=".1" max="10" value="1" step="0.05" onchange="scaleBySlider()" /><br/>

</div>
<br/>

<div id="power_gauge" class="gauge"></div>
<div id="power_zone_gauge" class="gauge"></div>
<div id="watts_kg_gauge" class="gauge"></div>
<div id="hr_gauge" class="gauge"></div>
<div id="hr_zone_gauge" class="gauge"></div>
<div id="cadence_gauge" class="gauge"></div>
<div id="alt_gauge" class="gauge"></div>
<div id="percent_grade_gauge" class="gauge"></div>
<div id="speed_gauge" class="gauge"></div>
<br/>
<hr style="background-color:#333"/>


<div id="chart_labels"></div>
<div id="chart_canvas" style="height:250px; background-color:#000; color:#666"></div>
<br/>

<div id="time_distance_radioset" style="display:inline; float:right">
	<input type="radio" id="time_radio" name="time_distance_radioset" onchange="selectTimeDistance()" checked="checked"><label for="time_radio">Time</label>
	<input type="radio" id="distance_radio" name="time_distance_radioset" onchange="selectTimeDistance()"><label for="distance_radio">Distance</label>
</div>

<div id="scale_factor_radioset">
	<input type="radio" id="25p_radio" name="scale_factor_radioset" onchange=""><label for="25p_radio">25%</label>
	<input type="radio" id="50p_radio" name="scale_factor_radioset" onchange="" checked="checked"><label for="50p_radio">50%</label>
	<input type="radio" id="75p_radio" name="scale_factor_radioset" onchange=""><label for="75p_radio">75%</label>
	<input type="radio" id="100p_radio" name="scale_factor_radioset" onchange=""><label for="100p_radio">100%</label>
</div>
</br>
<hr style="background-color:#333"/>


<div class="map_container"> 
  <div id="map" class="gmaps4rails_map"></div>
</div>
<br/>