
<script src="<%= graph_data_path(@activity) %>.js"></script>
<div class="graph_checkbox">
	<input type="checkbox" id="cadence_check" onchange="drawScaled(false,'all_ride_data')">Cadence</input>
	<input type="checkbox" id="altitude_check" onchange="drawScaled(false,'all_ride_data')">Altitude</input>
	<input type="checkbox" id="power_check" onchange="drawScaled(false,'all_ride_data')">Power</input>
	<input type="checkbox" id="hr_check" onchange="drawScaled(false,'all_ride_data')">Heart Rate</input>
	<select name="graph_dataset" id="graph_dataset_option" onchange="handleSelect()">
		<option value="time" selected>Time (h:m:s)</option>
		<option value="distance">Distance (mi)</option>
	</select>
	<select name="lap_dataset" id="lap_dataset_option" onchange="return true">
		<% @activity.laps.each_with_index do |lap, lap_num| %>
			<option value="<%= lap.id %>" selected><%= "Lap #{lap_num} (#{lap.start_time})" %></option>
		<% end %>
		<option value="nil" selected><%= "All Laps" %></option>
	</select>
</div><br/>
<canvas id="all_ride_data" width="1050" height="400">[No canvas support]</canvas><br/>
<input id="graph_scale_slider" type="range" min="0" max="10" value="5" step="0.05" onchange="drawScaled(false,'all_ride_data')"/><br/>
