<script src="<%= graph_data_path(@activity) %>.js"></script>
<div>

	<input id="distance_input" class="css-checkbox" type="checkbox" onchange="" />
	<label for="distance_input" class="css-label" style="color:#999" id="distance_label">X Val:</label>

	<input id="0" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
	<label for="0" class="css-label" style="color:#FF9900" id="power_label">Power:</label>

	<input id="1" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
	<label for="1" class="css-label" style="color:#ff5600" id="hr_label">Heart Rate:</label>

	<input id="2" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
	<label for="2" class="css-label" style="color:#0f8bff" id="cadence_label">Cadence:</label>

	<input id="3" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
	<label for="3" class="css-label" style="color:#7fff00" id="alt_label">Altitude:</label>

	<input id="4" class="css-checkbox" type="checkbox" onchange="toggleCheck(this)" />
	<label for="4" class="css-label" style="color:#bc65f7" id="speed_label">Speed:</label>

	<select name="graph_dataset" id="graph_dataset_option" onchange="selectTimeDistance()" style="float: right">
		<option value="time" selected>Time (h:m:s)</option>
		<option value="distance">Distance (mi)</option>
	</select>

	<select name="lap_dataset" id="lap_dataset_option" onchange="handleLaps()" style="float: right">
		<% @activity.laps.each_with_index do |lap, lap_number| %>
			<option value="<%= lap_number %>" selected><%= "Lap #{lap_number} (#{lap.start_time})" %></option>
		<% end %>
		<option value="nil" selected><%= "All Laps" %></option>
	</select>

	<input id="graph_scale_slider" type="range" min=".5" max="11" value="1" step="0.05" onchange="scaleBySlider()"/><br/>

</div>
<br/>
<div id="chart_labels"></div>
<div id="chart_canvas" style="width:100%; height:400px; background-color:#000; color:#666"></div>
