
    <script src="<%= graph_data_path(@activity) %>.js"></script>
    <div class="graph_checkbox">
    	<input type="checkbox" id="cadence_check" onchange="drawScaled()">Cadence</input>
    	<input type="checkbox" id="altitude_check" onchange="drawScaled()">Altitude</input>
    	<input type="checkbox" id="power_check" onchange="drawScaled()">Power</input>
    	<input type="checkbox" id="hr_check" onchange="drawScaled()">Heart Rate</input>
		</div><br/>
    <input id="graph_scale_slider" type="range" min="0" max="10" value="1" step="0.05" onchange="drawScaled()"/>
    <canvas id="all_ride_data" width="1050px" height="450px" style="background:#000;">[No canvas support]</canvas><br/>
    