
<table>
  <tr>
    <th colspan=17>Intervals</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>Ride Time</th>
    <th>Distance</th>
    <th>Calories</th>
    <th>kJoules</th>
    <th colspan="3">Speed ( min / avg / max )</th>
    <th colspan="3">HR ( min / avg / max )</th>
    <th colspan="3">Watts ( min / avg / max )</th>
    <th colspan="3">Cadence ( min / avg / max )</th>
  <tr>
   <%= render(@activity.laps) %>
</table>
<br/>