
<table>
  <tr>
    <td >ID</td>
    <td>Time</td>
    <td>Distance (Miles)</td>
    <td>Calories</td>
    <td>Min HR</td>
    <td>Ave HR</td>
    <td>Max HR</td>
    <td>Min Cadence</td>
    <td>Ave Cadence</td>
    <td>Max Cadence</td>
    <td>Min Watts</td>
    <td>Ave Watts</td>
    <td>Max Watts</td>
    <td>Intensity</td>
  <tr>
   <%= render(@activity.laps) %>
</table>