
<table>
  <tr>
    <th colspan=14>Intervals</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>Time</th>
    <th>Distance (Miles)</th>
    <th>Calories</th>
    <th>Min HR</th>
    <th>Ave HR</th>
    <th>Max HR</th>
    <th>Min Cadence</th>
    <th>Ave Cadence</th>
    <th>Max Cadence</th>
    <th>Min Watts</th>
    <th>Ave Watts</th>
    <th>Max Watts</th>
    <th>kJoules</th>
  <tr>
   <%= render(@activity.laps) %>
</table>