
<table>
<tr>
    <th colspan=6>Power Zones</th>
</tr>    
<tr>
    <th>Zone</th>
    <th>Description</th>
    <th>Low (watts)</th>
    <th>High (watts)</th>
    <th>Time</th>
    <th>%</th>
</tr>

<tr>
    <td>Z1</td>
    <td>Active Recovery</td>
    <td>0</td>
    <td>0</td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z2</td>
    <td>ENdurance</td>
    <td>0</td>
    <td>0</td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z3</td>
    <td>Tempo</td>
    <td>0</td>
    <td>0</td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z4</td>
    <td>Threshold</td>
    <td>0</td>
    <td>0</td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z5</td>
    <td>VO2Max</td>
    <td>0</td>
    <td>0</td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z6</td>
    <td>Anaerobic</td>
    <td>0</td>
    <td>0</td>
    <td>0:0</td>
    <td>0%</td>
</tr>

</table>