<p id="notice"><%= notice %></p>
<b>Activity: <%= @activity.name %></b><br/>
<b>Date: <%= @activity.activity_date %></b><br/>
<br/>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Summary</a></li>
		<li><a href="#tabs-2">Analysis</a></li>
		<li><a href="#tabs-3">History</a></li>
	</ul>
	<div id="tabs-1" style="text-align: center;">
		<%= render 'graph' %>
	</div>
	<div id="tabs-2">
	</div>
	<div id="tabs-3">
	</div>
</div>
<script>
$(function() {
	$( "#tabs" ).tabs();
	$( "#radioset" ).buttonset();
});
</script>